<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="config.user">
    <!-- 
    To override these values, create a user.config file in the same folder with an appSettings section and
    the same keys with your values. Like:
    <?xml version="1.0" encoding="utf-8" ?>
    <appSettings>
      <add key="IoTDevice" value="HostName=[youriothubname].azure-devices.net;DeviceId=[yourdevicename];SharedAccessKey=[yourkey]"/>
    </appSettings>
    
    -->
    <add key="IoTDevice" value="[DeviceConnectionString]"/>
  </appSettings>
</configuration>